html {
	background-color: #6a6c6e;
}

body {
	background-color: #9aa1a6;
}

button {
	cursor:pointer;
	border:none;
	outline: none;
    width:32px;
    height:32px;
    margin:0px;
}

#drawPlace {
	height: 64px;
	width: 64px;
}

#side {}

#side2 {
	width: 60%;
	height: 300px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 10px solid transparent;
	padding: 15px;
	border-image: url(../assets/sprites/ui/border.png) 30 30 stretch;
}

#container {
	display: flex;
	align-items: center;
}

.pencilButton {
    background:url(../assets/sprites/ui/pencil.png) no-repeat;
}

.pencilButton:active {
     background:url(../assets/sprites/ui/pencil-pressed.png) no-repeat;
}

.eraserButton {
    background:url(../assets/sprites/ui/eraser.png) no-repeat;
}

.eraserButton:active {
     background:url(../assets/sprites/ui/eraser-pressed.png) no-repeat;
}

.lineButton {
    background:url(../assets/sprites/ui/line.png) no-repeat;
}

.lineButton:active {
     background:url(../assets/sprites/ui/line-pressed.png) no-repeat;
}

.pickerButton {
    background:url(../assets/sprites/ui/picker.png) no-repeat;
}

.pickerButton:active {
     background:url(../assets/sprites/ui/picker-pressed.png) no-repeat;
}

.bucketButton {
    background:url(../assets/sprites/ui/bucket.png) no-repeat;
}

.bucketButton:active {
     background:url(../assets/sprites/ui/bucket-pressed.png) no-repeat;
}