.eraserButton {
    background:url(../../assets/sprites/ui/eraser.png) no-repeat;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.eraserButton:active {
     background:url(../../assets/sprites/ui/eraser-pressed.png) no-repeat;
}
.pencilButton {
    background:url(../../assets/sprites/ui/pencil.png) no-repeat;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
}

.pencilButton:active {
     background:url(../../assets/sprites/ui/pencil-pressed.png) no-repeat;
}
